<footer>
    <div>
        <strong>Fondazione Piccolo America</strong>
        <p>Con il nostro proiettore ridiamo <span class="highlight">luce</span> alla città</p>
        <br><br>
        <p>P. IVA 13159181000</p>
    </div>
    <div>
        <div class="social">
            <strong>Social</strong>
            <p class="instagram"><a href="https://www.instagram.com/piccoloamerica/" target="_blank">Instagram</a>
            </p>
            <p class="twitter"><a href="https://twitter.com/piccoloamerica" target="_blank">X</a></p>
            <p class="youtube"><a href="https://www.youtube.com/channel/UCC-9knjVl2dAutXW-PfVcSA"
                    target="_blank">YouTube</a></p>
        </div>
        <br>
        <div><strong>Contatti</strong>
            <p>ufficio.stampa@piccoloamerica.it</p>
        </div>
    </div>
</footer>

{% if page.script %}
<script src="{{ site.baseurl }}/assets/js/{{ page.script }}?v={{ 'now' | date: '%Y%m%d%H%M%S' }}"></script>
{% endif %}

</body>

</html>